{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Saxiib masoo dhuntay!</title>
<style>
body {
  background-color: #d6eee3;
}
.notfound {
  height: 20em;
  width: 30em;
  border: 1px solid #555;
  background-color: #FFF;
  margin: auto;
  margin-top: 10%;
  padding: 3em;
  text-align: center;
}
.notfound h1 {
  background-color: #a3d0e4;
}
</style>

</head>
<body>
  <div class="notfound">
    <h1>404 Lama Helin</h1>
    <h3>Saaxiib waa soo dhuntay kow dheh, meesha ka carar</h3>
    <p>
      bogga "qaamuuska.com{{request_path}}" ee aad codsatay waan so waaye marka hakugu taagnaato.
    </p>
    <a href="/"><h4>Inta riix anaa war kuu haayee!</h4></a>
  </div>
</body>
</html>
