{% extends 'dictionary/layout.html' %}
{% block content %}
<!-- main-column -->
<div class="medium-8 column">
  <div class="row column">
    <p class="lead">Ereyada ugu xiisaha badan:</p>
  </div>

  <div class="row small-up-1">

    {% for word in words %}
    <div class="column">
      <div class="shadowed card word-list-item">
        <div class="card-divider word-header">
          <a href="/word/{{word.url_text}}">
            <h4>{{word.text}}</h4>
          </a>
        </div>
        <div class="card-section">
          <a href="/word/{{word.url_text}}">
            <p>{{word.definition}}</p>
          </a>
        </div>
        <div class="card-section">
          <div class="row">
            <div class="small-5 column">
              <i class="fa fa-pencil-square-o fa-lg"></i>
              <a href="#"><strong>{{word.author|capfirst}}</strong></a>
              <i class="fa fa-clock-o fa-lg"></i>
              {{word.date_created}}
            </div>
            <div class="small-2 column">
              <div class="float-right">
                <i class="fa fa-comment-o fa-lg"></i> <span class="secondary badge">{{word.comments}}</span>
              </div>
            </div>
            <div class="small-5 column reaction">
              <div class="button-group tiny">
                <a id="like-word-{{word.pk}}" class="button hollow" {% if not request.user.is_authenticated %} data-open="loginModal"{% else %} onclick="is_correct('word', {{word.pk}})" {% endif%}><i class="fa fa-check fa-2x"></i> Sax <span id="like-word-badge-{{word.pk}}" class="primary badge">{{word.likes}}</span></a>
                <a id="dislike-word-{{word.pk}}" class="alert button hollow" {% if not request.user.is_authenticated %} data-open="loginModal"{% else %} onclick="not_correct('word', {{word.pk}})" {% endif%}><i class="fa fa-times fa-2x"></i> Qalad <span id="dislike-word-badge-{{word.pk}}" class="alert badge">{{word.dislikes}}</span></a>
                <!-- <a id="share-word-{{word.pk}}" class="success button hollow"><i class="fa fa-share-alt fa-2x"></i> Share <span class="success badge">{{word.shares}}</span></a> -->
                <div class="share-button-holder float-right"  style="margin-top: .5em;">
                  <div class="fb-share-button facebook-share-word-button" data-href="http://qaamuuska.com/word/{{word.url_text}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore button large" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fqaamuuska.com%2Fword%2F{{word.url_text}}&amp;src=sdkpreparse"><i class="fa fa-facebook fa-lg"></i> Share</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if comments %}
        <div class="card-divider">
          <h5>Comments:</h5>
          <div class="row comment callout">
            <div class="small-7 columns">
              <i class="fa fa-pencil-square-o fa-lg"></i>
              <a href="#">: <strong>{{word.author|capfirst}}</strong></a>
            </div>
            <div class="small-5 columns">
              <i class="fa fa-clock-o fa-lg"></i>
              {{word.date_created}}
            </div>
            <div class="small-12 columns">
              {{word.definition}}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}

  </div>


<div class="row">
  <div class="small-5 pagination columns">
    {% if words.has_previous %}
    <a  class="arrow large hollow primary button" href="?page={{ words.previous_page_number }}">&laquo; Prev.</a>
    {% endif %}
  </div>
  <div class="small-2 pagination columns">
    <span>
      <a href="">Page {{ words.number }} of {{ words.paginator.num_pages }}</a>
    </span>
  </div>
  <div class="small-5 pagination columns">
    {% if words.has_next %}
    <a class="arrow large hollow primary button" href="?page={{ words.next_page_number }}">Next &raquo;</a>
    {% endif %}
  </div>


</div>

</div>
<!-- main-column -->

{% endblock %}
