{% block footer %}

<!-- footer -->
<footer>
  <div class="row expanded callout secondary">

    <div class="small-6 large-3 columns">
      <p class="lead">Categories</p>
      <ul class="menu vertical">
        <li><a href="#">Shactaro</a></li>
        <li><a href="#">Ceeb</a></li>
        <li><a href="#">Caadi</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Ereyada ugu xiisaha badan</p>
      <ul class="menu vertical">
        {% for word in fav_words %}
        <li><a href="#">{{word.text}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Xiriiradeena</p>
      <ul class="menu vertical">
        <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fi-social-pinterest"></i> Pinterest</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Bogaggeena kale</p>
      <ul class="menu vertical">
        <li><a href="#">Daawo Layaabka aduunka</a></li>
        <li><a href="#">Ila qosol iyo shactaro</a></li>
        <li><a href="#">Xaqiiqooyin la aamini karin</a></li>
        <li><a href="#">Ma ogtahay?</a></li>
      </ul>
    </div>

  </div>
  <div class="row">

    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Ereyo Cusub</a></li>
        <li><a href="#">Ereyada ugu caansan</a></li>
        <li><a href="#">Diiwaangeli erey cusub</a></li>
      </ul>
    </div>

    <div class="medium-6 columns">
      <ul class="menu float-right">
        <li class="menu-text">Copyright &copy; 2017 - Bolow Software Solutions</li>
      </ul>
    </div>
  </div>

</footer>
<!-- footer -->

{% endblock %}
