{% block main-column %}

<!-- main-column -->
<div class="medium-8 column">
  <div class="row column">
<p class="lead">Ereyada ugu xiisaha badan:</p>
</div>

<div class="row small-up-1">
<div class="column">
<div class="card">
  <div class="card-divider">
    <h3>Xabad Shidan</h3>
  </div>
  <div class="card-section">
    <p>
      Waa gabar leh jir qurxan oo dareenka ragga kicinaayo, nadaafad ahaan iyo lebis ahaanna soo jiidasho leh.
    </p>
  </div>

  <div class="card-section">
      <div class="row">
        <div class="small-9 column">
          <a href="#">Written by: <strong>Mahdi Ahmed Abdullahi</strong></a>
        </div>
        <div class="small-3 column">
          <a class="button tiny">Like</a>
          <a class="alert button tiny">Dislike</a>
          <a class="success button tiny">Share</a>
        </div>
      </div>
  </div>

</div>
</div>

<div class="column">
<div class="card">
  <div class="card-divider">
    <h3>Xabad Shidan</h3>
  </div>
  <div class="card-section">
    <p>
      Waa gabar leh jir qurxan oo dareenka ragga kicinaayo, nadaafad ahaan iyo lebis ahaanna soo jiidasho leh.
    </p>
  </div>
  <div class="card-section">
      <div class="row">
        <div class="small-9 column">
          <a href="#">Written by: <strong>Mahdi Ahmed Abdullahi</strong></a>
        </div>
        <div class="small-3 column">
          <a class="button tiny">Like</a>
          <a class="alert button tiny">Dislike</a>
          <a class="success button tiny">Share</a>
        </div>
      </div>
  </div>
</div>
</div>

</div>

</div>
<!-- main-column -->


{% endblock %}
