{% block sidebar %}

<!-- sidebar -->
    <div class="medium-4 column">
      <div class="row column">
        <p class="lead">Ereyada Loogu Xiisaha badan yahay:</p>
      </div>
      <div class="row column callout" style="padding: .5em;padding-left: .95em;">

        <!-- FACEBOOK CODE -->
        <div class="fb-page" data-href="https://www.facebook.com/qaamuuskaxaafadda" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/qaamuuskaxaafadda" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/qaamuuskaxaafadda">Qaamuuska Ciyaalka Xaafada</a></blockquote></div>

        <hr />
        <ul class="menu vertical">
          {% for word in fav_words|slice:":20" %}
          <li>
            <a href="/word/{{word.url_text}}">
              {{word.likes}} | {{word.text}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
<!-- sidebar -->


{% endblock %}
