{% block sidebar %}

<!-- sidebar -->
    <div class="medium-4 column">
      <div class="row column">
        <p class="lead">Ereyada Loogu Xiisaha badan yahay:</p>
      </div>
      <div class="row column callout">
        <ul class="menu vertical">
          {% for word in fav_words|slice:":20" %}
          <li>
            <a href="/word/{{word.url_text}}">
              {{word.likes}} | {{word.text}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
<!-- sidebar -->


{% endblock %}
